.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
    scroll-behavior: smooth;
}

.mainpage-title {
    background-color: aquamarine;
    width: 600px;
}

img {
    width: 100%;
}

.mplink {
    display: flex;
    width: 400px;
    justify-content: space-around;
    margin-right: 30px;
}

.mplink-kid {
    font-size: 24px;
    color: rgb(47, 140, 140);
}

.mplink-kid:hover {
    /* hover鼠標懸停時的顏色改變 */
    color: aquamarine;
    cursor: pointer;
    /* cursor 滑鼠懸停時的樣式*/
}

body {
    margin: 0;
    height: auto;
}

.secteion-1 {
    padding-top: 160px;
    height: 80vh;
    background-image: url('./img/sea1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.sec-b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secteion-2 {
    margin-bottom: 50px;
}

.sec-b1 {
    font-size: 48px;
    color: rgb(255, 255, 255);
    width: 600px;
    align-items: center;
    text-shadow: 0.05em 0.05em rgb(113, 133, 135);
    text-align: center;
}

.sec-b2 {
    color: rgb(255, 255, 255);
    background-color: white;
    font-size: 32px;
    width: 160px;
    height: 60px;
    border-radius: 5%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.title-main {
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.text-sub {
    color: rgb(47, 140, 140);
}

.secteion-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.img-og {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-size: cover;
}

.img-3-1 {
    background-image: url("./img/logo/logo2.jpg");
}

.img-3-2 {
    background-image: url("./img/logo/logo3.jpg");
}

.img-3-3 {
    background-image: url("./img/logo/logo1.jpg");
}

.text-3 {
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.sec-3 {
    width: 300px;
}

.text-4 {
    font-size: 18px;
    min-height: 70px;
    text-align: center;
}

.text-5 {
    color: rgb(255, 255, 255);
    background-color: rgb(65, 191, 198);
    font-size: 32px;
    width: 160px;
    height: 60px;
    border-radius: 5%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.secteion-end {
    width: 100%;
    background-color: rgb(220, 217, 217);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

.sec-e-c {
    cursor: pointer;
}

.logo {
    height: 160px;
}

.title-logo {
    width: 170px;
    height: 110px;
    background-image: url('./img/logo/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-txt {
    color: rgb(47, 140, 140);
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* .section-4 {
    /* height: 200vh; */


a {
    text-decoration: none;
    color: rgb(49,77,103);
}

a:hover {
    color: rgb(56,196,198)
}

.footer {
    height: 40vh;
}

.sec-4-l {
    display: flex;
    margin-bottom: 10px;
}

.sec-4-r {
    display: flex;
    margin-bottom: 30px;
}

.sec-4-img {
    width: 90%;
    height: 300px;
}

.img-4-1 {
    background-image: url('./img/sec-1.jpg');
    background-size: cover;
}

.img-4-2 {
    background-image: url('./img//sec-2.jpg');
    background-size: cover;
}

.img-4-3 {
    background-image: url('./img/sec-3.jpg');
    background-size: cover;
}

.img-4-4 {
    background-image: url('./img//sec-4.jpg');
    background-size: cover;
}

.sec-4-title {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.sec-4-sub-l {
    margin-left: 10px;
    padding: 20px;
}

.sec-4-sub-r {
    margin-right: 10px;
    padding: 20px;
}

.content-area {
    display: flex;
    justify-content: space-around;
}

.icon-img {
    width: 30%;
    margin-bottom: 20px;
    cursor: pointer;
}

.icon-area {
    text-align: center;
}

.icon-title {
    font-size: 1.6rem;
}